<!-- -- -- DCSML
-- INSERT INTO users (uid, username, password_hash, name, role)
-- VALUES('student_dcsml_1', 'dummy_hash', 'DCSML Student 1', 'student');

-- INSERT INTO students (uid, department, roll, name, cgpa, sgpa, attendance)
-- VALUES 
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049001','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049002','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049003','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049004','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049005','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049006','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049007','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049008','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049009','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049010','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049011','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049012','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049013','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049014','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049015','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049016','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049017','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049018','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049019','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049020','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049021','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049022','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049023','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049024','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049025','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049026','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049027','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049028','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049029','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049030','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049031','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049032','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049033','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049034','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049035','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049036','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049037','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049038','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049039','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049040','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049041','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049042','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049043','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049044','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049045','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049046','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049047','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049048','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049049','Akshaya',8.9, 9.3, 94);
-- ((SELECT uid FROM users WHERE username = 'student_dcsml_1')
-- 'DCSML','111724049050','Akshaya',8.9, 9.3, 94);
 -->
