{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}
<section id="news">
  <h2>Events</h2>

  <div class="news-gallery">

    <div class="news-card">
      <img src="{{ url_for('static', filename='images/acsml_ach.jpeg') }}" alt="AI Guest Lecture" onerror="this.style.display='none'">
      <div class="news-tooltip">
        <h4>1st Prize – Intellexa Hackathon</h4>
        <p>
          The Department of AI organized the Intellexa Hackathon in which
          Prasad, Manohar, and Nitish Reddy secured the 1st prize.
        </p>
        <span class="tooltip-date">2025</span>
      </div>
    </div>

    <div class="news-card">
      <img src="{{ url_for('static', filename='images/ncsml_ach.jpeg') }}" alt="AI Guest Lecture" onerror="this.style.display='none'">
      <div class="news-tooltip">
        <h4>1st Prize – Seek And Find</h4>
        <p>
          The Department of CS organized the Seek And Find event in which
          G.A. Sneha secured the 1st prize.
        </p>
        <span class="tooltip-date">2025</span>
      </div>
    </div>

    <div class="news-card">
      <img src="{{ url_for('static', filename='images/ncsml2_ach.jpeg') }}" alt="AI Guest Lecture" onerror="this.style.display='none'">
      <div class="news-tooltip">
        <h4>Vastrakala Event</h4>
        <span class="tooltip-date">2025</span>
      </div>
    </div>

    <div class="news-card">
      <img src="{{ url_for('static', filename='images/ncsml3_ach.jpeg') }}" alt="AI Guest Lecture" onerror="this.style.display='none'">
      <div class="news-tooltip">
        <h4>2nd Prize – Painting Competition</h4>
        <p>
          The Department of English organized the Painting Competition in which
          Hima Bindhu secured the 2nd prize.
        </p>
        <span class="tooltip-date">2025</span>
      </div>
    </div>

  </div>
</section>
{% endblock %}