{% extends "base.html" %}

{% block title %}Outreach Programs{% endblock %}

{% block content %}

<section class="outreach-wrapper">
        <header class="outreach-header">
            <h2>Outreach Programs</h2>
            <p>
                Our department extends learning beyond classrooms through impactful
                outreach initiatives that empower society and nurture future talent.
            </p>
        </header>

        <!-- Program 1 -->
        <div class="program-card">
            <div class="program-gallery">
                <img src="{{ url_for('static', filename='acsml 1.jpeg') }}" onerror="this.style.display='none'">
                <!-- <img src="./acsmlo2.jpeg"> -->
            </div>

            <div class="program-details">
                <span class="program-tag">Coca-Cola Factory Visit</span>
                <h2>Coca-Cola Factory Visit</h2>
                <p>
                   The visit to the Coca-Cola factory was insightful and memorable, offering a complete guided tour of the facility. The production process is highly advanced, relying on 
                   modern automated machinery to ensure efficiency, quality, and hygiene. Manufacturing is organized into different stages, from raw material handling to bottling, labeling, 
                   and packaging. Quality checks are conducted at multiple levels to meet Coca-Cola’s global standards. The coordination between skilled staff and technology highlighted effective 
                   teamwork. The warm welcome and refreshments added to an overall informative and enjoyable experience.
                </p>

                <div class="program-meta">
                    <div><strong>Date</strong><span>2025</span></div>
                    <div><strong>Venue</strong><span>Coca-Cola Factory</span></div>
                    <div><strong>Participants</strong><span>50+</span></div>
                </div>
            </div>
        </div>

        <!-- Program 2 -->
        <div class="program-card reverse">
            <div class="program-gallery">
                <img src="{{ url_for('static', filename='do.jpeg') }}" onerror="this.style.display='none'">
                <!-- <img src="./nout.jpeg"> -->
            </div>

            <div class="program-details">
                <span class="program-tag">BSNL Industrial Visit</span>
                <h2>BSNL Industrial Visit</h2>
                <p>
                    The visit to BSNL provided students with practical exposure to telecommunication infrastructure and its role in strengthening the nation’s telecom network. 
                    The first session on telecommunication networking explained transmission media, data transmission techniques, and landline communication using copper and fiber optics. 
                    The second session focused on battery and power connections, covering current supply, battery functions, and power systems used in telecom operations. The networking lab sessions 
                    demonstrated router usage, network access, and different types of routers for business and personal use. Overall, the program at RTTC Hyderabad helped bridge the gap between academic 
                    knowledge and real-world telecom applications while supporting skill development.
                </p>

                <div class="program-meta">
                    <div><strong>Date</strong><span>2025</span></div>
                    <div><strong>Venue</strong><span>BSNL Industrial Visit</span></div>
                    <div><strong>Participants</strong><span>80+</span></div>
                </div>
            </div>
        </div>

        <!-- Program 3 -->
        <div class="program-card">
            <div class="program-gallery">
                <img src="{{ url_for('static', filename='nout.jpeg') }}" onerror="this.style.display='none'">
            
            </div>

            <div class="program-details">
                <span class="program-tag">T-Hub Industrial Visit</span>
                <h2>T-Hub Industrial Visit</h2>
                <p>
                    The Department organized an Industrial Visit to T-Hub, Hyderabad, to expose students to innovation, entrepreneurship, and industry-oriented learning.
                     The visit began with a warm welcome, followed by an interactive session by Mr. Srinivas Rao Mahankali, Vice President of T-Hub, who shared insights into T-Hub’s vision,
                      growth, and startup ecosystem. Students from four colleges actively participated, presenting startup ideas and engaging in discussions. After lunch, a guided tour of the
                       facility allowed students to explore the working environment and interact with professionals. Overall, the visit provided valuable real-world exposure and enhanced students
                        understanding of entrepreneurship and collaboration.
                </p>

                <div class="program-meta">
                    <div><strong>Date</strong><span> 2025</span></div>
                    <div><strong>Venue</strong><span>T-Hub Industrial Visit</span></div>
                    <div><strong>Participants</strong><span>50+</span></div>
                </div>
            </div>
        </div>
 
    </section>
{% endblock %}